@import './../../../scss/constants.scss';

.title {
    margin-bottom: 24px;
}

.wrapper {
    @media screen and (min-width: $is-desktop) {
        display: grid;
        width: min-content;
        grid-template-columns: 1fr 1fr;
        row-gap: 24px;
        column-gap: 80px;
        margin-bottom: -24px;
    }
}

.error {
    color: $color--error;
    margin-left: 10px;
    font-weight: normal;
}