$is-desktop: 640px;

$border-radius: 2px;

$color--white: #fff;

$color--gray-extra-light: #F5F5F5;
$color--gray-light: #E8E8E8;
$color--gray: #D9D9D9;
$color--gray-dark: #BCBCBC;
$color--gray-darker: #8C8C8C;
$color--gray-extra-dark: #595959;

$color--primary-extra-light: #E6F7FF;
$color--primary: #1890FF;
$color--primary-light: #40A9FF;
$color--primary-dark: #096DD9;

$color--error: #F5222D;
